.product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 30px;
  gap: 30px;
}

.product-item {
  border: 1px solid silver;
  margin: 20px 5px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  flex: 0 0 auto;
}

.product-img {
  height: 160px;
  width: 160px;
  display: block;
  margin: 10px;
  transform: scale(1, 1);
  transition: all 0.5s ease-out;
}
.product-img:hover {
  transform: scale(1.1, 1.1);
}

img {
  max-width: 100%;
}

.product-name {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  line-height: 20px;
  margin: 5px 10px;
  padding: 5px;
}

.btn-container {
  width: 160px;
  margin: 10px auto;
  position: relative;
}

.wishbtn {
  border: none;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}

.price-container {
  margin: 0 auto;
  width: 160px;
  font-size: 0.75rem;
}

.price-price {
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .product-item {
    flex: 0 0 90%;
  }

  .product-img {
    /* margin: 1px auto; Block element才會作用 */
    display: block;
    margin: 10px auto;
  }

  .product-img:hover {
    /* RWD不放大 */
    transform: scale(1, 1);
  }

  .btn-container {
    width: 160px;
    margin: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .wishbtn {
    position: relative;
    transform: translateY(0%);
    margin: auto;
    flex: 0 0 auto;
  }
}
