.purchase {
  position: fixed;
  top: 20vh;
  left: 30%;
  width: 40%;
  height: 40%;
  z-index: 100;
  overflow: auto;
  background-color: white;
  border-radius: 5px;
}

.close {
  position: absolute;
  right: 5px;
}

.close:hover {
  font-size: 1.1rem;
}

.title {
  margin: 10px;
}
.inputbox {
  display: block;
  margin: 15px;
  width: 20%;
  border-radius: 4px;
}

.description {
  margin: 10px;
  font-size: 1.25rem;
}
.btn-container {
  position: absolute;
  width: 300px;
  display: flex;
  justify-content: space-between;
  left: 20px;
  bottom: 25px;
}

@media screen and (max-width: 768px) {
  .purchase {
    position: fixed;
    top: 10vh;
    left: 5%;
    width: 90%;
    height: 40%;
    background-color: white;
    border-radius: 5px;
  }
}
